@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar */
.navbar{
  font-family:  "Poppins", serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px gray;
  border-bottom: 0.5px solid gray !important;
}

.navbar{
  font-weight: 300 !important;
}
.active{
  border-bottom: 3px solid black;
}

/* footer */
.footer{
  color: whitesmoke;
  padding: 2px;
  background:rgb(53, 51, 51);
  background: -webkit-linear-gradient(
    to right,
    #434344,
    #000000
  );
  background: linear-gradient( to top,#434344, #000000 );
}

.footer a{
  text-decoration: none;
  color: white;
  padding: 10px;
}

.footer a:hover{
  color: #ffefba;
  border-bottom: 1px solid #ffefba;
}

/*Page not found*/
.pnf{
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pnf-title{
  font-size: 100px;
  font-weight: 700;
}
.pnf-heading{
  font-weight: normal;
}
.pnf-btn{
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}
/* =========contact us ========= */
.contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Register */
.register{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  flex-direction: column;
}

/* products*/
.product-link{
  text-decoration: none !important;
  color: #000000 !important;
}